/* Variables
   ========================================================================== */

/* ====== Image Path ====== */

$base-image-path: "/assets/images/";

/* ====== Base Settings ====== */

/* Base (Global) */
$base-font-color: #272727;
$base-font-size: 16px;
$base-font-family: "josefin_sansregular";

/* Base (Headings) */
$heading-font-color: #000;
$heading-font-family: "josefin_sanssemibold";

/* Base (Links) */
$base-link-color: #1896df;
$base-link-hover-color: #e96a2e;

/* Base (Background Color) */
$base-bg-color: #fff;

/* Base (Spacing) */
$base-spacing: 30px;

/* ====== Typography ====== */

/* Fonts */
$font-thin: "josefin_sansthin";
$font-light: "josefin_sanslight";
$font-regular: "josefin_sansregular";
$font-semi-bold: "josefin_sanssemibold";
$font-bold: "josefin_sansbold";

/* Text Colors */
$font-white: #fff;
$font-black: #000;

/* ====== Background ====== */

/* Background Colors */
$bg-white: #fff;
$bg-black: #000;